html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  width: 75px;
  height: 60px;
}

.navItem {
  border-radius: 35px;
  cursor: pointer;
}

.navItem:hover {
  background-color: #fafafa;
}

.mobile_menuToggler {
  background-color: #000;
  width: 15px;
  height: 3px;
  border-radius: 6px;
}

.mobile_menuToggler::before,
.mobile_menuToggler::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 15px;
  height: 3px;
  border-radius: 6px;
}

.mobile_menuToggler::before {
  transform: translateY(-5px);
}

.mobile_menuToggler::after {
  transform: translateY(5px);
}

.mobile_menuToggler.open {
  transform: translate(-50px);
  background-color: transparent;
}

.mobile_menuToggler.open::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.mobile_menuToggler.open::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.aside_container {
  display: none !important;
  height: calc(100vh - 108px);
}

.aside {
  position: absolute;
  top: 0;
}

.hero {
  height: 650px;
}

.hero_right {
  color: #fff;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 71px;
  text-align: left;
}

.sub_title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}

.hero_leftContent {
  background: url("../assets/man.png");
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  border-radius: 0 0 35px 0;
}

.hero_background {
  height: 650px;
  background: url("../assets/hero_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 35px;
}

.buttonPrimary {
  background-color: #14213d;
  color: #fff;
}

.buttonTransparent {
  background-color: #fff;
  color: #14213d;
}

.button {
  border: none;
  margin-top: 10px;
  padding: 18px 53px;
  border-radius: 35px;
}

.about_us {
  top: 90%;
}

.about_usBackground {
  width: 85%;
}

.about_usText {
  top: 0;
  left: 50%;
  width: 85%;
  transform: translate(-50%, 0%);
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  height: 85%;
}

.about_usContent {
  height: 85%;
}

.clients {
  margin-top: 17rem;
  margin-bottom: 10rem;
}

.service_right {
  width: 100%;
}

.service_rightService {
  border-radius: 35px;
  box-shadow: 35px 45px #e5e5e5;
}

.service_rightDots {
  top: -50px;
  right: 30px;
}

.service_rightEllipse {
  transform: translate(-395%, -75px);
  top: 50%;
}

.service_leftContent,
.work_containerRightContent {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.work {
  margin-top: 10rem;
}

.work_image {
  border-radius: 35px;
  height: 250px;
  width: 250px;
}

.circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
  background-color: rgba(252, 163, 17, 0.5);
}

.semiCircle {
  position: absolute;
  height: 50px;
  width: 100px;
  border-radius: 50px 50px 0 0;
  top: 20%;
  left: 0;
  background-color: rgba(20, 33, 61, 0.5);
  transform: scaleY(-1) translate(-50%, 0);
}

.extraDots {
  position: absolute;
  bottom: 0;
  right: 0;
  right: 0px;
  transform: translate(25%, 50%);
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .service_left {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .service_right {
    width: 70%;
  }

  .work_containerRightContent {
    margin-top: 5rem;
  }

  .work_image {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .title {
    text-align: center;
  }

  .sub_title {
    text-align: center;
  }

  .service_rightEllipse {
    width: 25%;
    transform: translate(0%, -37.5px);
    top: 50%;
    left: 0%;
  }

  .service_left {
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    text-align: center;
  }

  .sub_title {
    text-align: center;
  }

  .clients {
    margin-top: 15rem;
  }

  .clients_list {
    gap: 3rem;
  }

  .service_right {
    padding: 10%;
  }

  .service_rightService {
    width: 100%;
  }
}

@media screen and (max-width: 765px) {
  .aside_container.open {
    display: flex !important;
  }
}

@media screen and (max-width: 425px) {
  .aside_container.open {
    display: flex !important;
  }

  .hero {
    height: 400px;
  }

  .hero_rightContent {
    text-align: center;
  }

  .title {
    font-size: 26px;
    line-height: 35px;
  }

  .sub_title {
    font-size: 14px;
    line-height: 20px;
  }

  .clients {
    margin-top: 10rem;
  }

  .service_rightDots {
    width: 70%;
  }

  .service_leftContent,
  .work_containerRightContent {
    grid-template-columns: 1fr;
  }
}
